

/* Navigation Bar */

#nav {
  background: grey; 
  position: fixed;
}


/* Navigation Bar Logo Sizing */
#npc-logo {
  height: 30px;
  float: left;
  padding-left:5px;
}

/* Unorderd List Styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: inline;
}

/* Individual List Item Styles */
li {
  float: left;
  padding-left: 1.2em;

}
/* List Item Link Styles */
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 0.5em 0.5em 0.5em 0.5em;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  color: white;
}

/* nav bar */

nav {
  background-color: white;
  display: block;
  overflow: hidden;
}

/* Home Page */

/* Home Page animation */

#anime h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
.anime { font-size: 3.5em; }
h2 {
  color: #888;
  font-size: 2em;
}

/* Background Styles */

.content {
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  background-image: url("../img/vet.JPG");
  background-repeat: no-repeat;
  position: center;
  background-size: cover;
  overflow: hidden;
}

.content-two {
  display: block;
  overflow: hidden;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 25%;
  margin-bottom: 25%;
  background: black;
  position: center;
  opacity: 0.8;
}

.content-two p {
  text-align: center;
  color: white;
}

.content-two img {
  max-width: 100%;
  max-height: 100%;
  position: center;
  overflow: none;
}

/* Footer styles */

footer{
height: 20%;
width: 100%;
overflow: hidden;
background: black;
display: block;
}

.column-footer {
  display: block;
  float:left;
  width: 25%;
}

.column-footer p {
  color: white;
}

p {
  size: 0.7em;
}

h1, h2, p {
  color: white;
  text-align: center;
}

h1 {
  size: 1.75em;
}

h2 {
  size: 1.15em;
}

p {
  size: 1.85em;
}

/* form styles */

input {
  align-content: center;
  max-height: 100%;
  width: 100%;
}

button {
  align-items: center;
}

footer a {
  color: white;
}

/* Slider Styling */

.slider {
  position: relative;
}


/* input,  */
.slider__item__photo {
  display: none;
}

input:checked ~ .slider__item__photo {
  display: block;
}

.slider__item__photo {
  width: 100%;
}

.slider__bullet-label {
  display: block;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, .8);
  background-color: rgba(225, 225, 225, .4);
  cursor: pointer;
  position: absolute;
  bottom: 10px;
}

.label1 {
  right: 55%;
}

.label2 {
  left: 50%;
  transform: translateX(-50%);
}

.label3 {
  left: 55%;
}

input:checked ~ .slider__bullet-label {
  background-color: rgba(0, 0, 0, .7);
}

.slider__arrow {
  width: 15%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  transition: .3s;
  display: none;
}

.slider__arrow:hover {
  background-color: rgba(225, 225, 225, .07);
}

.slider__arrow--left {
  left: 0;
}

.slider__arrow--right {
  right: 0;
}

.slider__bullet--first:checked ~ .slider__arrow--first,
.slider__bullet--second:checked ~ .slider__arrow--second,
.slider__bullet--third:checked ~ .slider__arrow--third {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__arrow--left::before {
  content: '<';
  color: rgba(0, 0, 0, .7);
  font-size: 10vw;
  font-weight: 800;
}

.slider__arrow--right::before {
  content: '>';
  color: rgba(0, 0, 0, .7);
  font-size: 10vw;
  font-weight: 800;
}


.content-three {
  display: block;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  /* margin-left: 20%;
  margin-right: 20%;
  margin-top: 25%;
  margin-bottom: 25%; */
  background: black;
  position: center;
  opacity: 0.8;
}

.treatments {
  background: black;
  color: white;

}


  